@font-face {
  font-family: Karla;
  src: url(/assets/fonts/Karla-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-family: Karla, sans-serif;
  color: hsl(187, 24%, 22%);
  font-weight: 500;
}

body {
  background: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 2em 1em;
}

.input-container textarea, .input-container .input-box {
  padding: 10px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  width: 100%;
}
.input-container textarea:hover, .input-container .input-box:hover {
  cursor: pointer;
}
.input-container textarea:focus, .input-container .input-box:focus {
  outline-color: hsl(169, 82%, 27%);
}

.error-message {
  display: block;
  color: hsl(0, 66%, 54%);
}

.container {
  background: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 600px;
  padding: 1.3em;
  border-radius: 10px;
}
.container h1 {
  font-weight: bolder;
  font-size: x-large;
}
.container form {
  display: flex;
  flex-direction: column;
}
.container form button {
  margin-top: 1.5em;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  background: hsl(169, 82%, 27%);
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.container form button:hover {
  background: hsl(168, 81%, 11%);
}
@media (min-width: 480px) {
  .container {
    padding: 2em;
  }
  .container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    grid-template-areas: "f l" "e e" "q q" "m m" "c c" "b b";
  }
  .container .input-container:nth-child(3) {
    grid-area: e;
  }
  .container .input-container:nth-child(4) {
    grid-area: q;
  }
  .container .input-container:nth-child(5) {
    grid-area: m;
  }
  .container .input-container:nth-child(6) {
    grid-area: c;
  }
  .container button {
    grid-area: b;
  }
}

.input-container {
  margin-top: 1.5em;
}
.input-container .label {
  display: block;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.input-container .label::after {
  content: "*";
  color: hsl(169, 82%, 27%);
  margin-left: 10px;
}
.input-container input[type=text] {
  padding: 10px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  width: 100%;
}
.input-container input[type=text]:hover {
  cursor: pointer;
}
.input-container input[type=text]:focus {
  outline-color: hsl(169, 82%, 27%);
}
.input-container .input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}
.input-container .radio-container {
  display: grid;
  gap: 10px;
}
.input-container .radio-container input[type=radio] {
  appearance: none; /* Removes default appearance */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  width: 20px;
  height: 20px;
  border: 2px solid hsl(186, 15%, 59%);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: white;
}
.input-container .radio-container input[type=radio]:checked {
  position: relative;
  border-color: hsl(169, 82%, 27%);
}
.input-container .radio-container input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: hsl(169, 82%, 27%); /* Inner circle color */
  border-radius: 50%;
}
.input-container .radio-container label {
  cursor: pointer;
}
@media (min-width: 400px) {
  .input-container .radio-container {
    display: flex;
  }
}
.input-container textarea {
  resize: none;
}
.input-container:nth-child(6) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
@media (min-width: 400px) {
  .input-container:nth-child(6) {
    gap: 10px;
  }
}
.input-container:nth-child(6) input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 20px;
  border: 2px solid hsl(186, 15%, 59%);
  position: relative;
  cursor: pointer;
  background-color: white;
}
@media (min-width: 321px) {
  .input-container:nth-child(6) input {
    width: 26px;
  }
}
@media (min-width: 376px) {
  .input-container:nth-child(6) input {
    width: 22px;
  }
}
@media (min-width: 426px) {
  .input-container:nth-child(6) input {
    width: 21px;
  }
}
.input-container:nth-child(6) input:checked {
  background-color: hsl(169, 82%, 27%);
  border-color: hsl(169, 82%, 27%);
}
.input-container:nth-child(6) input:checked::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); /* Inner circle color */
}
@media (min-width: 480px) {
  .input-container:nth-child(6) input:checked::before {
    left: 4px;
  }
}
.input-container:nth-child(6) .label {
  margin-bottom: 0;
}
.input-container:nth-child(6) .label::after {
  margin-left: 0;
  color: hsl(187, 24%, 22%);
}

/*# sourceMappingURL=styles.css.map */
